{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}

<style type="text/css">
#map { 
    height: 400px;
 }
</style>
{% endblock %}
{% block body %}
        
<title>Carte des luttes</title>
    <h1>Carte des luttes </h1>
    <div id="map">
	    
	</div>
    {% include 'Struggle/_modal_create_struggle.html.twig' %}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('openstreetmap') }}
 {% endblock %}