<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8" />
		<meta name="robots" content="noindex">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" 
			integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('styleApp') }}
             <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="   crossorigin=""/>
        {% endblock %}
    </head>

    <body>
        <main class="min-vh-100">
            <header id="header">
                {% include "_navbar.html.twig" %}
            </header>
            <div id="loader" role="status">
                <div class="d-flex flex-column align-items-center text-warning">
                    <span class="fas fa-circle-notch"></span>
                    <span class="small" data-value="Chargement...">Chargement...</span>
                </div>
		    </div>

            <div class="z-index-9999 fixed-bottom">
				<div id="js-notif-container" class="container py-0 d-none"></div>
			</div>
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
